# Management UI Port
PORT=3000

# Set your physical Host LAN IP (e.g. 10.10.10.128 or 192.168.1.50)
# This overrides the internal Docker bridge IP (172.x.x.x) on the Web Dashboard
HOST_IP=

# Logging
LOG_LEVEL=info
